<template>
  <div classame="app">
    <div d-flex justify-content-center>
      <div class="mb-3">
        <label for="exampleFormControlInput1" className="form-label">Name: </label>
        <input type="email" className="form-control w-50" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" className="form-label">Description: </label>
        <textarea className="form-control w-50" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <button type="button" className="btn btn-danger mt-2 w-24">Submit</button>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #2c3e50;
  height: 100vh;
  overflow: auto;
}
</style>
